*{
    box-sizing: border-box;
    padding: 0px;
    marigin: 0px;
}

/* defines the header colors and gives it padding and color */
header {
    border: 18px solid rgb(143, 179, 214);
    padding: 30px 20px 0px 20px;
    background-color: rgb(34, 125, 155);
    
}

/* positions h1 in the header of portfolio, assigns its font type, size, and color */
 header h1{
    padding-top: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(219, 219, 179);
    font-size: 48px;
    display: inline;

 }

 /* positions the nav and list items to the right side of webpage  */
header nav ul li {
    color: beige;
    float:right;
    display: inline-flex;
    margin-left: 25px;

}

/* assigns font type, size, and display of each item in the nav */
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(219, 219, 179);
    display: inline-block;
}

/* creates hover effect for each anchor tag (about me, work, etc) */
a:hover{
color: blanchedalmond;
}

/* defines the container and positioning of the section with the label tags linked to each section on the nav bar */
.labels {
    padding: 20px;
    border: 20px solid transparent;
    float: left;
    width: 25%;
    height: 100%;
    position: relative;
}

/* defines border, colors, font, and position of about me sections label tag */
#aboutme {
    float: right
    display: flex;
    margin-bottom: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    width:200px;
    height: 65px;
    color: rgb(219, 219, 179);
    border: 10px solid rgb(143, 179, 214);
    background-color: rgb(34, 125, 155);
}

/* postions aboutme h2 within border */
#aboutme h2{
    width:200px;
    height:75px;
    position: relative;
    display: ;
    top:-20px;
    left:-15px;
    text-align: center;
}

/* defines font, border and colors of work section label */
#work{
    margin-bottom: 950px;
    width: 140px;
    height: 65px;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: rgb(219, 219, 179);
    border: 10px solid rgb(143, 179, 214);
    background-color: rgb(34, 125, 155);
}

/* positions h2 writing within label border */
#work h2{
    width:120px;
    height:65px;
    position: relative;
    top:-25px;
    left:-15px;
}

/* defines colors and font for contactme section label */
#contactme{
    text-align: match-parent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: rgb(219, 219, 179);
    background-color: rgb(34, 125, 155);
    border:10px solid rgb(143, 179, 214);
    position: relative;
    width: 220px;
    height:60px;
  
}

/* postions h2 writing within border */
#contactme h2{
    position: relative;
    top:-20px;
}


/* defines container for entire about me section */
.aboutme {
    width: 600px;
    height: 400px;
    border: 20px black;
    padding:0px;
    border: 20px solid white;
    display: flex;
}

/* assigns font and display of h2 in about me section to make it bigger than the following paragraph */
.writing h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    display: inline-flex;
}

/* assigns font, positioning, and display type of the paragraph section in the aboutme section */
.writing p{
    float:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    width: 650px;
    height: 360px;
    display: inline-flex;
    flex-wrap: wrap;
}

/* establishes size and placement of the picture of myself in the aboutme section */
#me {
    float:right;
    width: 225px;
    height: 350px;
    flex-wrap: wrap;
    display: inline-flex;
}

/* establishes height, width, background image, display type and margin size to separate from section below */
#currency {
    background-image: url(../images/currencyproject.png);
    border: 2px solid black;
    height: 550px;
    width: 900px;
    position: relative;
    display:inline-block;
    margin-bottom: 20px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 8%;
}

/* establishes the section to open a link to a webpage when clicked */
#currency a {
    position: relative;
    height:550px;
    width: 900px;
}

/* styles and positions header to fit on top of image */
#currency h2 {
    font-size: 40px;
    position: absolute;
    left: 10px;
    top: 40px;
    float:left;
    background-color: rgb(184, 197, 211);
}

/* /* gives hover effect to this section  */
#currency:hover{
    opacity: .7;
}



/* gives background image for card */
#hori {
    background-image: url(../images/refact.png);
    background-size: cover;
    background-position: center;
}
#hori div{
    width:445px;
    height:40px;
    background-color: gainsboro;
    position: relative;
    border-bottom: 1px dashed black;
    
}
#hori a{
    width:445px;
    height: 175px;
    position: absolute;
}

/* gives background image for card */
#passgen {
    background-image: url(../images/passgen.png);
    background-size: cover;
    background-position: center;
}
#passgen div{
    width:445px;
    height:40px;
    background-color: gainsboro;
    position: absolute;
    border-bottom: 1px dashed black;
    
}

#passgen a {
    width: 445px;
    height: 175px;
    position: absolute;
}

/* gives background image for card */
#quiz {
    background-image: url(../images/quizpic.png);
    background-size: cover;
    background-position: center;
    
}
#quiz div{
    width:445px;
    height:40px;
    background-color: gainsboro;
    position: relative;
    border-bottom: 1px dashed black;
    
}
#quiz div h3{
    padding-bottom: 5px;
}

#quiz a {
    width: 445px;
    height: 175px;
    position: absolute;
}

/* gives background image for card */
#bells {
    background-image: url(../images/bells.jpg);
    background-size: cover;
    background-position: center;
}

/* establishes design of individual cards(height,width, border,) and gives flex wrap property */
.card {
    width: 445px;
    height: 250px;
    border: 2px solid black;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 18px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 8%;
}


/* positions first row of cards, establishes border to separate images, tells images to wrap */
.first-row {
    position:relative;
    margin: 7px;
    display: inline-flex;
    flex-wrap: wrap;
}

/* positions and tells the second row of cards to wrap when screen shrinks;establishes margin size of second row */
.second-row {
    position: relative;
    margin: 7px;
    display: inline-block;
    flex-wrap: wrap;
    display: inline-flex;
}

/* creates the hover effect for the cards that are placeholders for future webpages in the portfolio */
.card:hover {
   opacity: .7;
}

/* designs footer font and background and positioning */
footer {
    float: right;
    width: 995px;
    height:30px;
    border: 5px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    position: relative;
    background-color: rgb(34, 125, 155);
    color: rgb(219, 219, 179);
}
footer div{
    display: inline-block;
    position:relative;
    top:-10px;
}
/* positions my phone number within the footer */
.phone{
    float: left;
    padding-left: 30px;
    border-right: 30px;
}
/* positions my email address to be centered in footer */
.email{
    padding-left: 180px;
    padding-right: 170px;
}

.github {
    padding-right: 150px;
}

/* removes label section when width size falls below 750px */
@media only screen and (max-width:700px) {
    .labels{
        display: none;
    }
    
}