*{
    box-sizing: border-box;
    padding: 0px;
    marigin: 0px;
}

header {
    border: 18px solid rgb(143, 179, 214);
    padding: 30px 20px 0px 20px;
    background-color: rgb(34, 125, 155);
    
}
header:hover {
    backface-visibility: hidden;
    background-color: blue;
}
 header h1{
    padding-top: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(219, 219, 179);
    font-size: 48px;
    display: inline;

 }
header nav ul li {
    color: beige;
    padding: 0px;
    float:right;
    display: inline-flex;
    margin-left: 25px;

}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(219, 219, 179);
    display: inline-block;
}

.labels {
    padding: 20px;
    border: 20px solid white;
    float: left;
    width: 25%;
    height: 100%;
    background-color: blue;

}

#aboutme {
    margin-bottom: 400px;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    color: aliceblue;
}
#work{
    margin-bottom: 925px;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    color: aliceblue;
}
#contactme{
    margin-bottom: 20px;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    color: aliceblue;
}


.aboutme {
    float: right;
    width: 70%;
    border: 20px black;
    padding:0px;
    border: 20px solid white;
    
}
.aboutme div{
    display: inline-flex;
}
.writing {
    float:left;
    /* text-align: center; */
    /* display: inline-block; */
    background-color: blue;
    width: 650px;
    height: 360px;
}
/* .aboutme div{ */
    /* top: 400px; */
}
.photo {
    float:left;
}

#me {
    float:right;
    width: 225px;
    height: 350px;
}


#calm-rocks {
    background-image: url(../images/calm-rocks.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    text-align: center;
    height: 550px;
    width: 900px;
    position: absolute;
    top: 550px;
    right: 40px;
    display: inline-block;
    
}
#calm-rocks h2 {
    z-index: 100;
    font-size: 24px;
    position: absolute;
    left: 150px;
    top: 350px;
    float:left;
    background-color: blue;
}
#calm-rocks:hover{
    opacity: .7;
    position: absolute;
}




#clock {
    background-image: url(../images/clock.jpg);
    background-size: cover;
    background-position: center;
}


#computer {
    background-image: url(../images/computer.jpg);
    background-size: cover;
    background-position: center;
}

#water {
    background-image: url(../images/water.jpg);
    background-size: cover;
    background-position: center;
}

.card {
    width: 445px;
    height: 175px;
    border: 2px solid black;
    position: relative;
    display: inline-block;


}



.first-row {
    top: 1100px;
    right:50px;
    position:absolute;
    margin: 7px;
    display: inline-block;
    flex-wrap: wrap;
}

.card .first-row:hover {
    background-color: blue;
    position: fixed;
    display: transparent;
}

.second-row {
    position: absolute;
    margin: 7px;
    display: inline-block
    flex-wrap: wrap;
    bottom: -820px;
    left: 390px;
    background: transparent;
}

.card:hover {
   opacity: .7;
}
#bells img {
    width: 445px;
    height: 170px;
    background-position: center;
    position: absolute;
    background: transparent;
}


footer {
    top: 1020px;
    width: 900px;
    height:30px;
    border: 5px blue;
    
    font-size: 16px;
    display: inline-block;
    position: relative
}
footer div{
    display: inline-block;
}
.phone{
    float: left;
    padding-left: 50px;
    border-right: 30px;
}
.email{
    padding-left: 200px;
    padding-right: 170px;
}
.github{
    /* float:right; */
}